/** @format */

.footer {
  background: #fc5c5c;
  padding: 30px;
  position: relative;
  width: 100%;
  min-width: 350px;
}

.design {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 60px;
}

.design > img {
  width: 100%;
  z-index: 1 !important;
}

.footer-top {
  display: grid;
  grid-template-columns: 40% 60%;
}

.part1,
.part2 {
  padding: 10px 70px 10px 10px;
  /* padding-right: 20px; */
}

.part1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-logo {
  border-radius: 15px;
  background-color: white;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo > img {
  width: 80%;
}

.footer-font1 {
  /* font-style: normal; */
  font-weight: 600;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-link {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.social-link img {
  width: 35px;
  margin-right: 15px;
}

.footer-font2 {
  font-weight: 500;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
}

.footer-font3 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 40px;
}

.part2 {
  display: flex;
  justify-content: space-evenly;
  /* grid-template-columns: 30% 70%; */
}

.part2 > div {
  padding: 50px 10px;
}

.contact img {
  width: 20px;
}

.copyright {
  justify-item: center;
  z-index: 500;
}

.copyright > p {
  margin: 0px;
  text-align: center;
  z-index: 500;
}

@media (max-width: 985px) {
  .footer-logo {
    width: 70px;
    height: 70px;
  }

  .footer-font1 {
    font-size: 13px;
  }

  .footer-font2 {
    font-size: 11px;
  }

  .footer-font3 {
    font-size: 15px;
  }
}

@media (max-width: 890px) {
  .footer-top {
    display: flex;
    flex-direction: column;
  }

  .part2 > div {
    padding: 50px 10px 20px 20px;
  }

  .part2 > div:nth-child(1) {
    border-right: 1px solid white;
    padding: 50px 10px 20px 0px;
  }
}

@media (max-width: 590px) {
  .part2 {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .part1,
  .part2 {
    padding: 10px 30px 20px 10px;
    /* padding-right: 20px; */
  }

  .design {
    display: none;
  }

  .social-link {
    border: none;
    margin-bottom: 10px;
  }

  .part1 {
    /* margin-bottom: 40px; */
    border-bottom: 1px solid white;
  }
}

@media (max-width: 590px) {
  .footer-font1 {
    font-size: 10;
  }

  .footer-font2 {
    font-size: 9px;
  }

  .footer-font3 {
    font-size: 12px;
  }
}
