/** @format */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Murecho", sans-serif;
}

.section1 {
  padding: 30px;
  position: relative;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fc5c5c;
}

.design1 {
  position: absolute;
  width: 12%;

  left: 0px;
  bottom: 0px;
}

.design2 {
  position: absolute;
  width: 12%;

  right: 0px;
  bottom: 0px;
}

.design3 {
  position: absolute;
  width: 10%;

  left: 0.1px;
  bottom: 0px;
  border-bottom-left-radius: 20px;
}

.design4 {
  position: absolute;
  width: 10%;

  right: 0.1px;
  top: 0px;
  border-top-right-radius: 18px;
}

.section2 {
  margin-top: -240px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.form-section {
  position: relative;

  border: 3px solid #fc7c7c;
  box-shadow: 4px 4px 44px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 70vw;
  min-height: 420px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 25px 85px;

  /* margin-bottom: 200px; */
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.title {
  color: #505050;
  font-size: 22px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #505050;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

input[type="radio"] {
  accent-color: #fc5c5c;
}

.field-check {
  color: #fc5c5c;
  border: #fc5c5c 2px solid;
  border-radius: 8px;
  min-height: 70px;
  min-width: 130px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  position: relative;
}

.field-check:hover {
  cursor: pointer;
  background-color: #fc7c7c;
  color: white;
}

.field-check > label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

label > img {
  width: 40px;
  /* padding: ; */
}

.field-check > input {
  position: absolute;
  bottom: 6px;
  right: 6px;

  /* width: 100%; */
  /* height: 100%; */
  /* opacity: 0; */
}

.field-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 340px;
}

.req {
  color: red;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0;

  /* display: none; */
}

.field-text > label {
  font-size: 14px;
  font-weight: 500;
  color: #505050;
}

.field-text > input {
  outline: none;

  /* opacity: 0.8; */
  border: 0.936306px solid rgba(0, 0, 0, 0.4);
  border-radius: 6.68153px;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 6px 10px;
}

.field-text > select {
  outline: none;

  /* opacity: 0.8; */
  border: 0.936306px solid rgba(0, 0, 0, 0.4);
  border-radius: 6.68153px;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 6px 10px;
}

.form-control > option:nth-child(1) {
  opacity: 0.8;
}

.form-outer {
  width: 100%;
  overflow: hidden;
}

.form-outer > form {
  display: flex;
  width: 1400%;
  /* margin-left: -8.33%; */
}

.page {
  width: 7.144%;
  transition: margin-left 0.3s ease-in-out;
}

.bottom-btn {
  /* position: absolute; */
  margin-top: 20px;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  background-color: #fc5c5c;
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
  height: 40px;
  min-width: 150px;
}

.bottom-btn:hover {
  cursor: pointer;
  background-color: #fc7c7c;
}

.bottom-btn:disabled {
  background-color: rgba(252, 92, 92, 0.5);
}

.progressbar {
  /* height: 100px; */
  display: flex;
  gap: 50px;
  align-items: center;
  margin-bottom: 40px;
}

.progressbar > img {
  width: 35px;
  cursor: pointer;
}

.bar-count {
  font-size: 22px;
  font-weight: 800;
}

.progressbar > div {
  width: 90%;
}

.bar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fc5c5c 10%, gray 90%);
}

.afterSubmit {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
  justify-content: center;
}

.afterSubmit > img {
  width: 16%;
}

.afterSubmit > p {
  color: #263238;
  font-weight: 500;
  text-align: center;
}

.afterSubmit > input {
  width: 300px;
  height: 38px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.afterSubmit > input:hover {
  cursor: pointer;
}

@media (max-width: 740px) {
  .form-section {
    padding: 25px 35px;
    width: 90vw;
  }

  .field-text {
    width: 100%;
  }

  .afterSubmit > img {
    width: 100px;
  }
}
